@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

:root{
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --text-color: rgb(0, 0, 0);
  --sidebar-color: rgb(255, 255, 255);
  --primary-color: #BE353C;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
}

body{
  font-family: 'Poppins', sans-serif;
  transition: background-color .5s;
  margin: 0;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  }
/*abre nav*/

nav{
  margin: 0;
  display: flex;
  padding: 1% 5% 1% 3%;
  justify-content: space-between;
  align-items: baseline;
  height: 10%;
  background-color: var(--text-color);
}/*confg. gerais*/

  main{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--body-color);
    align-items: center;
    justify-content: space-between;
  }
/*--*/


a#GrenParc{
  text-shadow: 0px 0px 10px #BE0000, 0px 0px 10px #BE0000, 0px 0px 10px #BE0000;
  }

a#GrenParc, #financeiro, #home{
  text-decoration: none;
  color: var(--primary-color-light);
  font-family: 'Poppins', sans-serif;
  font-size: 16pt;
  padding: 0rem 1rem 0rem 1rem;
  transition: 300ms linear 0ms;
}
a#financeiro:hover, #home:hover, #GrenParc:hover{
  text-shadow: 0px 0px 10px #BE0000, 0px 0px 10px #BE0000, 0px 0px 10px #BE0000;
}



  section#um{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;     
    width: 30%;
    background-color: var(--primary-color-light);
  }

  button#salvar{
    width:50%;
    background-color: #BE353C;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: baseline;
  }

  section#info{
    text-align: center;
    border: 2px solid black;
    margin: 0% 3% 0% 3%;
    padding: 3% 3% 3% 3%;
    font-size: 16pt;
 }

  input#Nome_empresa, #CNPJ_empresa{
    font-size: 14pt;

  }

  section#dois{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;  
    background-color: var(--primary-color);
    width: 70%;
    padding-left: 2%;
  }

footer{
  display: flex;
  flex-direction: column;
  height: 5%;
  background-color: var(--text-color);
  font-family: 'Poppins';
  font-size: 7pt;
  justify-content: center;
  align-items: center;
  color: var(--body-color);
}/*fecha footer*/

.perfil {
  text-align: center;
}
.perfil input[type="file"] {
  display: none;
}
.figure {
  position: relative;

}
.fotoPerfil {
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}