@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

body {
  background: linear-gradient(
    to right,
    #BE353C,
    grey


  );
  font-family: 'Poppins', sans-serif;
  }
  
  .loginlogo{
  text-align: center;
  }

  .login-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto;
    max-width: 400px;
    margin-top: 6%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  img#loginlogo {
    width: 15%;
    height: 15%;
    align-items: center;
  }
  .TxtCad{
    font-family: 'Poppins', sans-serif;
    font-size: 6pt;
    text-align: center;
  }
  
  
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
 input#Nome_empresa, #CNPJ_empresa, #Email_empresa, #Fone_empresa, #Senha_empresa{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
  }


  input#login, #cadastrar{
    width: 100%;
    background-color: #BE353C;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  input#voltar{
    color: #fff;
    background-color: transparent;
    font-size: 20pt;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  nav{
    padding: 1% 5% 1% 3%;
  }

  button[type="submit"]:hover {
    background-color: c;
  }