@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

:root{
    /* ===== Colors ===== */
    --body-color: #ffffff;
    --primary-color: #BE353C;
    --primary-color-light: #F6F5FF;
    --prymary-color-dark: #000;
    --toggle-color: #808080;
  
  }

body {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--toggle-color)

  );
  font-family: 'Poppins', sans-serif;
  height: 110rem;
  width: auto;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  }


  nav{
    height: 5%;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
  }

  main{
    height: 100%;
    width: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
  }

  section#plano{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 3rem;
  }

  section#um{
    border-radius: 10px;
    padding: 20px;
    margin-top: 6%;
    box-shadow: 0px 4px 20px var(--prymary-color-dark);
    height: 70%;
    width: 100%;
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  a#contratar{
    width: 100%;
    background-color: var(--primary-color);
    color: var(--body-color);
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input#contratar{
    width: 100%;
    background-color: var(--primary-color);
    color: var(--body-color);
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  input#voltar{
    color: var(--body-color);
    background-color: transparent;
    font-size: 20pt;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  section#confirm{
    border-radius: 10px;
    padding: 20px;
    margin-top: 6%;
    box-shadow: 0px 4px 20px var(--prymary-color-dark);
    height: auto;
    width: auto;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;    
    font-size: 20pt;
    padding: 5rem;
  }
  
  input#numero_cartao, #data_cartao, #CVV_cartao, #nome_titular{
    width: 500px;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    color: var(--toggle-color);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  label#A{
    font-size: 16pt;
  }


  label#credito, #debito, #boleto{
    font-size: 18pt;

  }


  input#control_01, #control_02, #control_03[type="radio"] {
    display: none;

  }
  input#control_01, #control_02, #control_03:not(:disabled) ~ label#plano {
    cursor: pointer;
  }
  input#control_01, #control_02, #control_03:disabled ~ label#plano {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
  label#plano{
    width: 70%;
    display: block;
    font-size: 14pt;
    background: white;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px var(--toggle-color);
    position: relative;
    cursor: pointer;

  }

  
  input[type="radio"]:checked + label#plano {
    background: var(--primary-color);
    color: var(--body-color);
    box-shadow: 0px 0px 20px var(--primary-color);
    
  }
  
  input#control_01, #control_02, #control_03::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid var(--primary-color);
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: rgb(167, 47, 47);
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
  input#control_01, #control_02, #control_03[type="radio"]#control_05:checked + label#plano {
    background: var(--primary-color);
    border-color: var(--primary-color);
  }


  p {
    font-weight: 900;
  }
  
  
